/* .progress-bar {
  font-size: 20px;
  font-weight: 400;
  line-height: 54px;
  text-align: left;
  font-family: "Shippori Mincho", serif;

  background-color: blueviolet;

.progress-container {
  margin: auto;
}


@media (max-width: 1440px) {

  .progress-bar-title{
    width: 1440px;
  }
}

@media (min-width: 2232px) {
  .progress-bar {
    width: 2192px;
  }
}

@media (min-width: 2233px) {
  .progress-bar {
    width: 2192px;
  }
}

} */
